{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Full Width Pics - Start Bootstrap Template</title>
    <link rel="stylesheet" href="{% static 'css/full-width-pics.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Nano Cards</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
	<ul class="navbar-nav ml-auto">
	  <li class="nav-item active">
	  <a class="nav-link" href="#">Home
	    <span class="sr-only">(current)</span>
	  </a>
	  </li>
	  <li class="nav-item">
	  <a class="nav-link" href="#about">About</a>
	  </li>
	  <li class="nav-item">
	  <a class="nav-link" href="#">Buy Now</a>
	  </li>
	  <li class="nav-item">
	  <a class="nav-link" href="#">Redeem</a>
	  </li>
	  <li class="nav-item">
	  <a class="nav-link" href="#">FAQ</a>
	  </li>
	  <li class="nav-item">
	  <a class="nav-link" href="#">Contact</a>
	  </li>
	</ul>
      </div>
    </div>
    </nav>

    <!-- Header - set the background image for the header in the line below -->
    <header class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1076');">
    <img class="img-fluid d-block mx-auto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6Rd-3RGM0ZGi3mBQMIkxNzYYuIADlovtY3PwvZKVsHhkE7GYF" alt="">
    </header>

    <!-- Content section -->
    <section class="py-5">
    <div class="center">
      <h1>Nano is zero-fee and has instant transactions. Spread the word.</h1>
      <p class="lead">Nano is a digital currency for everyday transactions. Make your Nano easy to transfer in the real world. </p>
    </div>
    <div class="container">
      <div class="row">
	<div class="col-sm-4">
	  <div class="card text-center" style="width: 18rem;">
	    <div class="center-block mt-4">
	      <!-- <img src="https://png.icons8.com/windows/50/000000/buy.png" width="50"> -->
	    <img src="https://png.icons8.com/ios/40/000000/new-post-filled.png" width="50">
	  </div>
	    <div class="card-body">
	      <h5 class="card-title">Get Nano cards</h5>
	      <p class="card-text">Cards have a QR code, as well as a private key hidden behind a scratch off panel.</p>
	    </div>
	    <div class="card-body">
<a href="#" class="btn btn-primary">Buy Now</a>
	    </div>
	  </div>
	</div>
	<div class="col-sm-4">
	  <div class="card text-center" style="width: 18rem;">
	    <div class="center-block mt-4">
	     <img width="50" src="https://png.icons8.com/color/50/000000/qr-code.png">
	  </div>
	    <div class="card-body">
	      <h5 class="card-title">Load them with Nano</h5>
	      <p class="card-text">Use the QR code to load Nano on the card, and to check the value anytime.</p>
	      <p> Some extra stuff here </p>
	    </div>
	    <div class="card-body">
<a href="#" class="btn btn-primary">How To Load</a>
	    </div>
	  </div>
	</div>
	<div class="col-sm-4">
	  <div class="card text-center" style="width: 18rem;">
	    <div class="center-block mt-4">
	      <img src="https://png.icons8.com/office/40/000000/gift.png" width="50">
	  </div>
	    <div class="card-body">
	      <h5 class="card-title">Give them as gifts</h5>
	      <p class="card-text">To redeem the value on the card, reveal the private key and use it with a Nano wallet.</p>
	    </div>
	    <div class="card-body">
<a href="#" class="btn btn-primary">How To Redeem</a>
	    </div>
	  </div>
	</div>
      </div>
      </div>
    </div>
    </section>

    <!-- Image Section - set the background image for the header in the line below -->
    <section class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1081');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 200px;"></div>
    </section>

    <!-- Content section -->
    <a name="about"></a>
    <section class="py-5">
    <div class="container">
      <h1>Section Heading</h1>
      <p class="lead">ABOUT SECTION</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
    </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
    </div>
    <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/bundle.js' %}"></script>
  </body>

</html>
